@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

Fuente = 'Montserrat Alternates'
Nosferatus = #282a36
Aro = #44475a	
Cullen = #f8f8f2
VonCount = #6272a4
VanHelsing = #8be9fd
Blade = #50fa7b
Morbius = #ffb86c
Buffy = #ff79c6
Dracula = #bd93f9
Marcelin = #ff5555
Lincoln = #f1fa8c

*
  font-family Fuente
  box-sizing: border-box
  margin 0px
  padding 0px

